<a target="_self" href="https://www.google.com/">Google.com</a>
<br>
<a target="_top" href="https://www.google.com/">Google.com</a>
<br>
<a target="_parent" href="https://www.google.com/">Google.com</a>